<app-header [menu]="false" [name]="email"></app-header>

<div class="container py-4">

    <div class="row text-center">
        <div class="col-6">
            <button mat-raised-button color="accent" (click)="openDialog()">CREATE NEW TODO</button>
        </div>
        <div class="col-6">
            <mat-form-field>
            <mat-label>Select a status</mat-label>
            <mat-select (selectionChange)="filterChanged($event)">
                <mat-option>All</mat-option>
                <mat-option value="COMPLETED">Completed</mat-option>
                <mat-option value="IN_PROGRESS">In Progress</mat-option>
                <mat-option value="OPEN">Open</mat-option>
            </mat-select>
            </mat-form-field>
        </div>
    </div>
    <hr>

    <div class="row my-4">
        <div class="col-12 table-responsive-xxl">
            <table class="table table-bordered">
                <thead class="table-primary">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Status</th>
                        <th scope="col">Title</th>
                        <th scope="col">Description</th>
                        <th scope="col">Date</th>
                        <th scope="col">Delete</th>
                        <th scope="col">Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let todo of todos; let i=index">
                        <td style="width: 70px;">{{i + 1}}</td>
                        <td style="width: 200px;">
                            <mat-select [(value)]="todo.status" (selectionChange)="statusChanged(todo.id, todo.status)" [class.completed]="todo.status==='COMPLETED'">
                                <mat-option value="COMPLETED">Completed</mat-option>
                                <mat-option value="IN_PROGRESS">In Progress</mat-option>
                                <mat-option value="OPEN">Open</mat-option>
                            </mat-select>
                        </td>
                        <td>{{todo.title}}</td>
                        <td>{{todo.description}}</td>
                        <td style="width: 200px;">{{todo.create}}</td>
                        <td style="width: 70px;"><mat-icon color="warn" style="cursor:pointer;" (click)="remove(todo.id, i)">delete</mat-icon></td>
                        <td style="width: 70px;"><mat-icon color="gray" style="cursor:pointer;" (click)="editTitle(todo.id, todo.title, todo.description)">edit</mat-icon></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>

